@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind v4 da Dark Mode klass orqali ishlashi uchun */
@theme {
  /* Bu yerda o'zgaruvchilar bo'lishi mumkin */
}

/* faqat klassga bog‘lab qo‘yish uchun */
@custom-variant dark (&:where(.dark, .dark *));

/* Global transition */
* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

/* Base layer */
@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
  }
}

/* Text outline */
.text-outline {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}

/* Infinite scroll animatsiyalar */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
}
